.navbar-form {
   background:rgba(255,255,255,0.2);
   text-align: center;
   padding-top: 50px;
   padding-bottom: 50px;
}
.form-group{
   padding-top: 20px;
   text-align: center;
}
.question {
   border: none;
   text-align: center;
   width: 800px;
   max-height: 600px;
   overflow: auto;
   word-break: break-all;
   resize: none;
}
.question:focus {
   outline: none;
}

.table.table-hover>tbody>tr:hover {
    background-color: #939391 !important;
}



