{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/index.css') }}">
{% endblock %}
{% block main %}

<form class="navbar-form " method="post">
            <h1 style="color:white">Chatbot</h1>
            <div class="form-group">
              <textarea type="text" class="form-control" placeholder="please enter your question" 
                          name="question" style="text-align:center; width:800px; height:300px;font-size:30px;word-wrap:break-word;" 
                          wrap="hard"></textarea>
              <button type="submit" class="btn btn-default" style="height: 80px;width: 100px; font-size: large;">submit</button>
              <br>
              <br>
              <a style="color: aliceblue;font-size: x-large;"> from </a>
              <input type="date" id="start" name="trip-start" value="2013-01-01" min="2013-01-01" max="2023-01-01" style="height: 50px;width: 100px;" >
              <a style="color: aliceblue;font-size: x-large;"> to </a>
              <input type="date" id="end" name="trip-end" value="2013-01-01" min="2013-01-01" max="2023-01-01" style="height: 50px;width: 100px;">
            </div>
            <div class="form-title" style="color:rgba(250, 190, 153, 0.639);font-size:60px;">
                            {{msg}}
            </div>
</form>
<script>
  $(".btn-default").click(function () { 
    $(this).button('loading');//禁用按钮并显示提交中 
    // $(this).button('reset');//重置按钮 
    }); 
</script>
{% endblock %}
