{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/index.css') }}">
{% endblock %}
{% block main %}

<form class="navbar-form " method="post">
            <h1 style="color:white">Chatbot</h1>
            <div class="form-group">
              <textarea type="text" class="form-control" placeholder="please enter your question" 
                          name="question" style="text-align:center; width:800px; height:600px;font-size:30px;word-wrap:break-word;" 
                          wrap="hard"
                          >how were students identified as gifted with learning disabilities, and what major variability exists in the identification criteria across studies?
              </textarea>
              <button type="submit" class="btn btn-default" style="height: 100px;width: 200px;">submit</button>
            </div>
            <div class="form-title" style="color:red;font-size:20px;">
                            {{msg}}
            </div>
</form>
<script>
  $(".btn-default").click(function () { 
    $(this).button('loading');//禁用按钮并显示提交中 
    // $(this).button('reset');//重置按钮 
    }); 
</script>
{% endblock %}
